<%- include header %>
        <header class="post-background-wrapper">
            <img src="<%=post.background%>" id="edit-background" class="post-background">
            <i class="fa fa-picture-o fa-fw" id="changePostBackground"></i>
            <form method="post" action="/changepostbackground" enctype="multipart/form-data" style="display:none;">
                <input type="file" id="uploadPostBackground" name="background" style="display:none;">
            </form>
            <div class="metabar-header">
                <a href="/p/<%=post._id%>/delete" class="delete-button btn">Delete</a>
                <a href="/p/<%=post._id%>" class="publish-changes-button btn">Publish Changes</a>
            </div>
            <div class="title-wrapper">
                <input type="text" class="new-title" id="edit-title" placeholder="Title" value="<%=post.title%>" />
                <input type="text" class="new-subtitle" id="edit-subtitle" placeholder="Subtitle" value="<%=post.subtitle%>" />
            </div>
            <div class="metabar-footer"></div>
        </header>

         <div class="container projectcontainer">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <article class="editable article-post" id="edit-post"><%-post.post%></article>
                </div>
            </div>          
        </div>
        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/medium-editor.min.js"></script>
        <script src="/javascripts/editbackground.js"></script>
        <script src="/javascripts/resample.js"></script>
        <script src="/javascripts/nprogress.js"></script>
        <script src="/javascripts/script-main.js"></script>
    </body>    
</html>