<%- include header %>

        <header class="post-background-wrapper">
            <img src="<%=post.background%>" class="post-background">
            <% if (user && (user._id == post.userId)) { %>
            <div class="metabar-header">
                <a href="/p/<%=post._id%>/edit" class="edit-button btn">Edit</a>
            </div>
            <% } %>
            <div class="title-wrapper projectpage-title-wrapper">
                <h1 class="new-title"><%= post.title %></h1>
                <h3 class="new-subtitle"><%= post.subtitle %></h3>
                <div class="project-avatar-wrapper">
                    <a href="/u/<%=post.userId%>" class="user-wrapper">
                        <img class="projectpage-avatar" src="<%= post.avatar %>">
                        <h4 class="author-name"><%= post.name %></h4>
                    </a>
                </div>
            </div>
            <div class="metabar-footer"></div>
        </header>

         <div class="container projectcontainer">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <article class="article-post"><%- post.post %></article>
                </div>
            </div>
        </div>
<%- include comment %>
<%- include footer %>