<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Settings</title>
        <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<!--        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">-->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Sofia|Open+Sans:300' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/animate.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/style-landingpage.css" rel="stylesheet" >
        <!-- <link rel="icon" href="images/favicon.ico"/> -->
    </head>
    <body class="landing page">
        <header class="background">
            <img class="background-img" src="/images/background.jpg">
            <div class="container">
                <!-- <div class="row">
                    <div class="avatar-wrapper col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <img class="avatar" src="<%=user.avatar%>">
                    </div>
                </div> -->
                <div class="row">
                    <form method="post" enctype="multipart/form-data" class="settings-form col-xs-12  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" autocomplete="off">
                        <input type="file" id="uploader" name="avatar" style="display:none;">

                        <div class="avatar-wrapper">
                            <img id="profile-avatar" class="avatar" src="<%=user.avatar%>">
                        </div>
                        
            
                        <div class="form-group">
                            <input type="text" id="name-settings" placeholder="Full Name" value="<%=user.name%>" name="name">
                        </div>
                        <div class="form-group">
                            <input type="email" id="email-settings" placeholder="Email" value="<%=user.email%>" name="email">
                        </div>
                        <div class="form-group">
                            <textarea id="bio-settings" name="bio" rows="1" cols="23" maxlength="100" placeholder="Bio(within 100 words)" onkeydown="checkEnter(event)"><%=user.bio%></textarea>
                        </div>
                        <button type="submit" id="settings-confirm" class="btn btn-default">Confirm</button>
                        <!-- <a class=" btn btn-default">Cancel</button> -->
                    </form>
                </div>
                <% if (error) { %>
                  <div><%= error %> </div>
                <% } %>
            </div>
        </header>
        <section></section>
        
        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/jquery.elastic.source.js"></script>
        <script src="/javascripts/resample.js"></script>
        <script src="/javascripts/avatar.js"></script>
        <script>
            function checkEnter(e)
            {
                var et=e||window.event;
                var keycode=et.charCode||et.keyCode;   
                if(keycode==13)
                {
                    if(window.event)
                       window.event.returnValue = false;
                     else
                       e.preventDefault();//for firefox
                }
            }

                $(document).ready(function(){
                    $('#profile-avatar').click(function(){
                        $('#uploader').click();
                });

                $('.avatar').mouseenter(function(){
                    $(this).parent().append('<p style="font-family:source sans pro;margin-top:3%;color:#fff;">(120*120, < 50k)</p>');
                });

                $('.avatar').mouseleave(function(){
                    $(this).parent().find('p').remove();
                });
               

                $('#bio-settings').elastic();

                $('.background-img').css('-webkit-filter','brightness(0.8)');
                
                window.setInterval(function(){
                
                $('#profile-avatar').css('visibility','visible');
                $('#profile-avatar').addClass('animated fadeInDown'); 
                $('#name-settings').css('visibility','visible');
                $('#name-settings').addClass('animated fadeInLeft');
                $('#email-settings').css('visibility','visible');
                $('#email-settings').addClass('animated fadeInLeft');
                $('#bio-settings').css('visibility','visible');
                $('#bio-settings').addClass('animated fadeInLeft');
                $('#settings-confirm').css('visibility','visible');
                $('#settings-confirm').addClass('animated fadeInUp');},400); 
                
                $('.closeButton').click(function(){
                     $('.signup-form').addClass('animated fadeOutDown'); 
                        window.setInterval(function(){
                            location.href='/';},500);  
                });
            });
        </script>
    </body>
</html>